/* All styles for your Card Components live here */
.card {
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
}

.banner {
    width: 95%;
    height: 95%;
    border-radius: 5px;
    margin: 0;
}

.cardCon {
    border: 1px solid lightgray;
    margin-right: 38px;
    padding-bottom: 9px;
}

    .cardCon h2 {
        font-size: 1rem;
    }

    .cardCon p {
        margin: 10px 0;
    }

    .cardCon h4 {
        margin-top: 0;
        color: #d3d3d3;
    }